* {
    margin: 0;
    padding: 0;
    border: 0;
    font-family: 'Inter', sans-serif;
}

body {
    overflow-x: hidden;
}

.dark {
    z-index: 100;
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    backdrop-filter: invert(100%) hue-rotate(180deg);
    pointer-events: none;
}

html {
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
}

input,
textarea {
    outline: none;
    resize: none;
}
