* {
    margin: 0;
    padding: 0;
    border: 0;
    font-family: 'Inter', sans-serif;
}

body {
    filter: invert(100%) hue-rotate(90deg);
    background: black;
}

html {
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
}

input,
textarea {
    outline: none;
    resize: none;
}
